<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="index.php">Prueba Indra</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto" >
				<li class="nav-item"><a class="nav-link active" href="index.php">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="clientes.php">Clientes</a></li>
				<li class="nav-item"><a class="nav-link" href="productos.php">Productos</a></li>
				<li class="nav-item"><a class="nav-link" href="relaciones.php">Relaciones</a></li>
			</ul>
		<!--	<ul class="nav navbar-nav pull-right">
                    <li class="nav-item "><a class="nav-link" href="">Cargar Datos </a></li>
                </ul>
        -->
		</div>
	</nav>		
</header>
<div id="confirm" class="alert alert-success" style="display: none">Cambios guardados</div>
<div id="error" class="alert alert-danger" style="display: none">Error al realizar los cambios</div>